<div class="container clear-fix">
  <div class="youtube-container" style="padding-top: {{aspect-ratio attrs.width attrs.height}}%">
    <iframe class="youtube-video" type="text/html" src="{{attrs.url}}" frameborder="0"></iframe>
  </div>
</div>